#mapBlock{
	background-color: #aa0000;
	border-bottom:10px solid #aa0000;
}
#POIText{
	padding:30px 8.3333%;
        text-align: center;
}
#POIText h2{
	color:#ffffff;
        font-family: 'Roboto Slab', serif;
        margin: 0;
}
#POIText p{
	color:#ffffff;
        margin:0;
}
#SeattlePOIMap{
	height: 600px;
}
#POITextBox{
	overflow: hidden;
	position:relative;
	z-index:100;
	width: 356px;
	background-color:#ffffff;
	padding:0px 25px 0px 25px;
	border-left:5px solid #ef4135;
	display:none;
	margin-bottom:10px;
	-webkit-box-shadow: 2px 2px 2px 0px #a9a9a9;
	-moz-box-shadow: 2px 2px 2px 0px #a9a9a9;
	box-shadow: 2px 2px 2px 0px #a9a9a9;
}
#POITextBox h5{
	color:#ef4135;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	font-size:1.6rem;
	padding-top:0px;
}
#POITextBox p{
	color:#333333;
	font-family: 'Montserrat', sans-serif;
	font-weight:300;
	font-size:1.4rem;
}
#POITextBox a{
	color:#008765;
	text-decoration:underline;
}
#POITextBox a:hover{
	color:#333333;
	text-decoration:underline;
}




#mapBlock{
	background-color: #aa0000;
	border-bottom:10px solid #aa0000;
}
#POIText{
	padding:30px 8.3333%;
        text-align: center;
}
#POIText h2{
	color:#ffffff;
        font-family: 'Roboto Slab', serif;
        margin: 0;
}
#POIText p{
	color:#ffffff;
        margin:0;
}
#SeattlePOIMap{
	height: 600px;
}
#POITextBox{
	overflow: hidden;
	position:relative;
	z-index:100;
	width: 356px;
	background-color:#ffffff;
	padding:0px 25px 0px 25px;
	border-left:5px solid #ef4135;
	display:none;
	margin-bottom:10px;
	-webkit-box-shadow: 2px 2px 2px 0px #a9a9a9;
	-moz-box-shadow: 2px 2px 2px 0px #a9a9a9;
	box-shadow: 2px 2px 2px 0px #a9a9a9;
}
#POITextBox h5{
	color:#ef4135;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	font-size:1.6rem;
	padding-top:0px;
}
#POITextBox p{
	color:#333333;
	font-family: 'Montserrat', sans-serif;
	font-weight:300;
	font-size:1.4rem;
}
#POITextBox a{
	color:#008765;
	text-decoration:underline;
}
#POITextBox a:hover{
	color:#333333;
	text-decoration:underline;
}
